.rounded-corners{
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 50px;
    border:1px solid black;
    display: inline;
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
    background-image: radial-gradient(circle, white 30%, #009F00 60%);
    box-shadow: 5px 5px 5px gray;
}