.rounded-corners{
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border:1px solid black;
    display: inline;
    margin: 5px 5px;
    font-weight: bold;
    box-shadow: 5px 5px 5px gray;
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

.button-number-color{
    background-image: radial-gradient(circle, white 50%, #009F00 40%);
}

.button-operator-color{
    background-image: radial-gradient(circle, white 50%, gray 40%);
}

