.container{
    margin: auto;
    width: 400px;
    height: 500px;
    border: 4px solid black;
    border-radius: 10px;
    justify-items:center;
    background-color: #454a46;
    box-shadow: inset 0.3em 0.3em 0.3em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.reactio{
    padding-top: 7px;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}